.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menubar {
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-blend-mode: darken;
    background-size: cover;
    color: #fff;
    z-index: 10;

    menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: center;
    }
}

.menu {
    margin-top: 20px;
    padding: 0;
    list-style: none;

    li {
        display: inline;
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    a:hover {
        background-color: #f1f1f1;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 900px) {
    .menu li a menu {
      float: none;
      display: block;
    }
  
    .menubar menu {
      display: block;
    }
}