@import "menubar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }

  .menu li a menu {
    float: none;
    display: block;
  }

  .menubar menu {
    display: block;
  }
}