@import "menubar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  background-color: #f6d0b4;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4vw;
  color: #000;
  letter-spacing: -0.02em;
  text-align: center;
}