* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.menubar {
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background-blend-mode: darken;
  background-size: cover;
  color: white;
}

.menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.menu li {
  display: inline;
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #111;
}

.menu .active {
  background-color: #04AA6D;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}