// COLORS
$white: #FFF
$black: #000
$background: #ECD7FD
$purpureus: #9D519E
$pastel-purple: #B093DD
$dark-lavender: #6F418D
$cyber-grape: #583B7A
$indigo: #403672
$toolbox: #6C74B4
$space-cadet: #161F4F
$menubar: #4C2B52

// FONTS
$main-serif: "Arial", sans-serif // 'Bodoni Bold', Garamond, 'Times New Roman', serif
$paragraph-serif: "Arial", sans-serif // 'Bodoni Italic', Garamond, 'Times New Roman', serif
$font-size: 12px