@use "variables" as vars

$border-radius: 1rem
$padding: 10px

.container
    padding: calc(2 * $padding)
    position: relative
    z-index: 1

    ul
        list-style: none
        padding: 0
    
    li
        padding: $padding
        border-radius: $border-radius
        display: flex
        background: white
        align-items: center
        position: relative
        margin-top: calc($padding / 2)

        &:first-child
            margin-top: $padding
        
    li.completed .task-text
        text-decoration: line-through
            
.input-container
    display: flex
    
#new-task
    flex: 1
    padding: $padding
    border-radius: $border-radius
    outline: none
    border: none

#button-container
    //display: flex
    margin-top: $padding

    #dark-button
        padding: $padding
        background: vars.$menubar
        color: white
        border: none
        border-radius: calc($border-radius * 2)
        cursor: pointer

#add-task-button
    padding: $padding
    background: vars.$menubar
    color: white
    border: none
    border-radius: $border-radius
    margin-left: 2.5px
    cursor: pointer
    
    &:hover
        background: vars.$menubar
    
.task-controls
    display: flex
    align-items: center
    flex: 1
    
.task-text
    flex: 1
    margin-left: 5px
    position: relative
    display: inline-block
    
button.edit, button.delete
    background: transparent
    border: none
    color: vars.$menubar

button.edit
    margin-right: 7px

.progress-ring
    border-radius: 100%
    z-index: 9

.progress-ring__circle
    transition: 0.35s stroke-dashoffset

    // Axis compensation
    transform: rotate(-90deg)
    transform-origin: 50% 50%