@use "variables" as vars

.container
    padding: 20px
    min-height: 50vh
    position: relative
    z-index: 1

    ul
        list-style: none
        padding: 0
    
    li
        padding: 10px
        border-radius: 3px
        display: flex
        background: white
        align-items: center
        position: relative
        margin-bottom: 5px
        
    li.completed .task-text
        text-decoration: line-through

.header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 10px
    padding: 10px
    border-radius: 8px
        
.progress-container
    width: 100%
    background: #e9ecef
    border-radius: 3px
    margin-top: 15px
    
.progress-bar
    height: 7px
    width: 0
    background: #828dff
    border-radius: 3px
    transition: width 0.3s
    
.input-container
    display: flex
    margin-bottom: 10px
    
#new-task
    flex: 1
    padding: 10px
    border-radius: 3px
    outline: none
    border: none
    
#add-task-button
    display: flex
    justify-content: center
    padding: 4.5px
    // width: 35px
    // height: 35px
    background: vars.$menubar
    color: white
    border: none
    border-radius: 30%
    margin-left: 2.5px
    cursor: pointer
    
    &:hover
        background: vars.$menubar
    
.task-controls
    display: flex
    align-items: center
    flex: 1
    
.task-text
    flex: 1
    margin-left: 5px
    position: relative
    display: inline-block
    
button.edit, button.delete
    background: transparent
    border: none
    color: black

button.edit
    margin-right: 7px