@use "variables"
@import "style.min.css"

img
  border-radius: 5px
  width: 100%
  max-width: 500px

.column
  padding: 10px

  img
    width: 75px
    height: auto

.alert
  margin-left: 10%
  margin-right: 10%
  max-width: 1080px

  &::before
    content: none