@use "variables"
@import "style.min.css"

ul
  padding-left: 25px

h2
  color: variables.$dark-lavender

img
  border-radius: 5px
  width: 100%
  max-width: 600px

.column
  padding: 10px

  img
    width: 75px
    height: auto

.alert
  margin-left: 10%
  margin-right: 10%
  max-width: 1000px

  &::before
    content: none