@use "variables"
@import "style.min.css"

.container
    max-width: 850px

.quote
    font-style: italic
    background-color: variables.$pastel-purple
    padding: 15px
    margin-top: 15px
    border-left: 4px solid variables.$dark-lavender

.persona-header
    display: flex
    align-items: center
    justify-content: space-between
    
    h1
        margin: 0
        font-size: 2em
        color: variables.$dark-lavender
        
    p
        font-size: 1.5em
        
    img
        border-radius: 50%
        width: 100%
        max-width: 400px
        max-height: 350px
        height: 100%
        object-fit: cover
        overflow: hidden

.section
    margin-top: 20px
    
    h2
        border-bottom: 1px solid variables.$toolbox
        padding-bottom: 5px
        color: variables.$cyber-grape

ul
    list-style: none
    padding-top: 5px
    
    li
        margin-bottom: 10px
        font-size: 1.1em