@use "variables" as vars

hr
  color: vars.$indigo

.parent
    display: grid
    grid-auto-flow: dense
    margin-top: 10px
    overflow: auto

    .charts_width
        width: 80%

    .table_width
        width: 95%
        
    .container
        grid-column: 1
        padding: 10px
        overflow: auto

        img
            width: 100%

        h1
            text-align: center
            color: vars.$space-cadet

// GOOGLE SHEETS TABLE
.ritz .waffle
    a
        color: inherit

    .s0
        border-bottom: 1px SOLID #442f65
        border-right: 1px SOLID #5b3f86
        background-color: #5b3f86
        text-align: center
        font-weight: bold
        color: #ffffff
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: normal
        overflow: hidden
        word-wrap: break-word
        direction: ltr
        padding: 2px 8px 2px 8px

    .s9
        border-bottom: 1px SOLID #442f65
        border-right: 1px SOLID #ffffff
        background-color: #ffffff
        text-align: center
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px

    .s2
        border-bottom: 1px SOLID #f8f9fa
        border-right: 1px SOLID #ffffff
        background-color: #ffffff
        text-align: right
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px

    .s1
        border-bottom: 1px SOLID #442f65
        border-right: 1px SOLID #442f65
        background-color: #5b3f86
        text-align: center
        font-weight: bold
        color: #ffffff
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: normal
        overflow: hidden
        word-wrap: break-word
        direction: ltr
        padding: 2px 8px 2px 8px

    .s7
        border-bottom: 1px SOLID #f8f9fa
        border-right: 1px SOLID #442f65
        background-color: #f8f9fa
        text-align: center
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px

    .s8
        border-bottom: 1px SOLID #442f65
        border-right: 1px SOLID #ffffff
        background-color: #ffffff
        text-align: right
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px

    .s10
        border-bottom: 1px SOLID #442f65
        border-right: 1px SOLID #442f65
        background-color: #ffffff
        text-align: center
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px

    .s3
        border-bottom: 1px SOLID #f8f9fa
        border-right: 1px SOLID #ffffff
        background-color: #ffffff
        text-align: center
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px

    .s4
        border-bottom: 1px SOLID #f8f9fa
        border-right: 1px SOLID #442f65
        background-color: #ffffff
        text-align: center
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px

    .s5
        border-bottom: 1px SOLID #f8f9fa
        border-right: 1px SOLID #f8f9fa
        background-color: #f8f9fa
        text-align: right
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px

    .s6
        border-bottom: 1px SOLID #f8f9fa
        border-right: 1px SOLID #f8f9fa
        background-color: #f8f9fa
        text-align: center
        color: #434343
        font-family: docs-Roboto, Arial
        font-size: 10pt
        vertical-align: middle
        white-space: nowrap
        overflow: hidden
        direction: ltr
        padding: 2px 8px 2px 8px